################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.assets.cache
/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv/obj/Release/net60/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv.Tests/obj/Debug/net60/UltraMapper.Csv.Tests.assets.cache
/UltraMapper.Csv.Tests/obj/Debug/net60/UltraMapper.Csv.Tests.csproj.AssemblyReference.cache
/UltraMapper.Csv.Tests/obj/Release/net60/UltraMapper.Csv.Tests.csproj.AssemblyReference.cache
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.pdb
/UltraMapper.Csv/bin/Release/net50/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Release/net50/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Release/net50/UltraMapper.dll
/UltraMapper.Csv/bin/Release/net50/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Release/net50/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Release/net50/UltraMapper.pdb
/UltraMapper.Csv/bin/Release/net60/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Release/net60/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Release/net60/UltraMapper.dll
/UltraMapper.Csv/bin/Release/net60/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Release/net60/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Release/net60/UltraMapper.pdb
/UltraMapper.Csv/bin/Release/net70/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Release/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Release/net70/UltraMapper.dll
/UltraMapper.Csv/bin/Release/net70/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Release/net70/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Release/net70/UltraMapper.pdb
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.pdb
/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.pdb
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.assets.cache
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.pdb
/UltraMapper.Csv/obj/Release/net60/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Release/net60/UltraMapper.Csv.pdb
/UltraMapper.Csv/obj/Release/net70/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv/obj/Release/net70/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Release/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Csv.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Csv.Tests.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Csv.Tests.pdb
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Parsing.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Parsing.pdb
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.pdb
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Csv.dll
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Csv.Tests.dll
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Csv.Tests.pdb
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.dll
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Parsing.dll
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Parsing.pdb
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.pdb
/UltraMapper.Csv.Tests/obj/Debug/net70/UltraMapper.Csv.Tests.assets.cache
/UltraMapper.Csv.Tests/obj/Debug/net70/UltraMapper.Csv.Tests.csproj.AssemblyReference.cache
/UltraMapper.Csv.Tests/obj/Debug/net70/UltraMapper.Csv.Tests.dll
/UltraMapper.Csv.Tests/obj/Debug/net70/UltraMapper.Csv.Tests.pdb
/UltraMapper.Csv.Tests/obj/Release/net70/UltraMapper.Csv.Tests.csproj.AssemblyReference.cache
/UltraMapper.Csv.Tests/obj/Release/net70/UltraMapper.Csv.Tests.dll
/UltraMapper.Csv.Tests/obj/Release/net70/UltraMapper.Csv.Tests.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.Csv.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.Csv.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.Parsing.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.Parsing.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.Csv.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.Csv.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.Parsing.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.Parsing.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.Csv.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.Csv.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.Parsing.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.Parsing.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.Csv.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.Csv.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.Parsing.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.Parsing.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.pdb
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.assets.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.csproj.AssemblyReference.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net70/UltraMapper.DataFileParsers.Benchmarks.csproj.AssemblyReference.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net70/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net70/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net60/UltraMapper.DataFileParsers.Benchmarks.csproj.AssemblyReference.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net60/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net60/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.assets.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.csproj.AssemblyReference.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.pdb
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Csv.deps.json
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Csv.deps.json
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Csv.deps.json
/UltraMapper.Csv/bin/Release/net50/UltraMapper.Csv.deps.json
/UltraMapper.Csv/bin/Release/net60/UltraMapper.Csv.deps.json
/UltraMapper.Csv/bin/Release/net70/UltraMapper.Csv.deps.json
/UltraMapper.Csv/obj/Debug/net50/ref/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Debug/net50/refint/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.AssemblyInfoInputs.cache
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.assets.cache
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.csproj.CoreCompileInputs.cache
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.csproj.FileListAbsolute.txt
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.GeneratedMSBuildEditorConfig.editorconfig
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.csproj.CopyComplete
/UltraMapper.Csv/obj/Debug/net60/ref/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Debug/net60/refint/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.AssemblyInfoInputs.cache
/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.csproj.CopyComplete
/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.csproj.CoreCompileInputs.cache
/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.csproj.FileListAbsolute.txt
/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.GeneratedMSBuildEditorConfig.editorconfig
/UltraMapper.Csv/obj/Debug/net70/ref/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Debug/net70/refint/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.AssemblyInfoInputs.cache
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.csproj.CopyComplete
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.csproj.CoreCompileInputs.cache
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.csproj.FileListAbsolute.txt
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.GeneratedMSBuildEditorConfig.editorconfig
/UltraMapper.Csv/obj/Release/net50/ref/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Release/net50/refint/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.AssemblyInfoInputs.cache
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.assets.cache
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.csproj.CopyComplete
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.csproj.CoreCompileInputs.cache
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.csproj.FileListAbsolute.txt
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.GeneratedMSBuildEditorConfig.editorconfig
/UltraMapper.Csv.Tests/bin/Debug/net70/cs/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/cs/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/cs/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/cs/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/cs/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/de/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/de/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/de/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/de/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/de/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/es/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/es/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/es/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/es/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/es/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/fr/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/fr/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/fr/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/fr/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/fr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/it/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/it/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/it/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/it/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/it/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ja/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ja/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ja/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ja/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ja/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ko/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ko/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ko/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ko/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ko/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pl/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pl/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pl/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pl/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pl/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pt-BR/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pt-BR/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pt-BR/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pt-BR/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/pt-BR/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ru/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ru/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ru/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ru/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/ru/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/tr/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/tr/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/tr/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/tr/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/tr/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hans/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hans/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hans/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hans/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hans/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hant/Microsoft.Testing.Extensions.MSBuild.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hant/Microsoft.Testing.Extensions.Telemetry.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hant/Microsoft.Testing.Extensions.VSTestBridge.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hant/Microsoft.Testing.Platform.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/zh-Hant/Microsoft.VisualStudio.TestPlatform.TestFramework.resources.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/.msCoverageSourceRootsMapping_UltraMapper.Csv.Tests
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.ApplicationInsights.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.Testing.Extensions.MSBuild.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.Testing.Extensions.Telemetry.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.Testing.Extensions.TrxReport.Abstractions.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.Testing.Extensions.VSTestBridge.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.Testing.Platform.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.TestPlatform.AdapterUtilities.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.TestPlatform.CommunicationUtilities.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.TestPlatform.CoreUtilities.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.TestPlatform.CrossPlatEngine.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.TestPlatform.PlatformAbstractions.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.TestPlatform.Utilities.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.VisualStudio.TestPlatform.Common.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/UltraMapper.Csv.Tests/bin/Debug/net70/NuGet.Frameworks.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/testhost.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/testhost.exe
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Csv.Tests.deps.json
