################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.assets.cache
/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv/obj/Release/net60/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv.Tests/obj/Debug/net60/UltraMapper.Csv.Tests.assets.cache
/UltraMapper.Csv.Tests/obj/Debug/net60/UltraMapper.Csv.Tests.csproj.AssemblyReference.cache
/UltraMapper.Csv.Tests/obj/Release/net60/UltraMapper.Csv.Tests.csproj.AssemblyReference.cache
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.pdb
/UltraMapper.Csv/bin/Release/net50/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Release/net50/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Release/net50/UltraMapper.dll
/UltraMapper.Csv/bin/Release/net50/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Release/net50/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Release/net50/UltraMapper.pdb
/UltraMapper.Csv/bin/Release/net60/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Release/net60/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Release/net60/UltraMapper.dll
/UltraMapper.Csv/bin/Release/net60/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Release/net60/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Release/net60/UltraMapper.pdb
/UltraMapper.Csv/bin/Release/net70/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Release/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Release/net70/UltraMapper.dll
/UltraMapper.Csv/bin/Release/net70/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Release/net70/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Release/net70/UltraMapper.pdb
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Debug/net50/UltraMapper.Csv.pdb
/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.pdb
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.assets.cache
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Debug/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv/obj/Debug/net60/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Release/net50/UltraMapper.Csv.pdb
/UltraMapper.Csv/obj/Release/net60/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Release/net60/UltraMapper.Csv.pdb
/UltraMapper.Csv/obj/Release/net70/UltraMapper.Csv.csproj.AssemblyReference.cache
/UltraMapper.Csv/obj/Release/net70/UltraMapper.Csv.dll
/UltraMapper.Csv/obj/Release/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Csv.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Csv.Tests.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Csv.Tests.pdb
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Parsing.dll
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.Parsing.pdb
/UltraMapper.Csv.Tests/bin/Debug/net70/UltraMapper.pdb
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Csv.dll
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Csv.Tests.dll
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Csv.Tests.pdb
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.dll
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Parsing.dll
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.Parsing.pdb
/UltraMapper.Csv.Tests/bin/Release/net70/UltraMapper.pdb
/UltraMapper.Csv.Tests/obj/Debug/net70/UltraMapper.Csv.Tests.assets.cache
/UltraMapper.Csv.Tests/obj/Debug/net70/UltraMapper.Csv.Tests.csproj.AssemblyReference.cache
/UltraMapper.Csv.Tests/obj/Debug/net70/UltraMapper.Csv.Tests.dll
/UltraMapper.Csv.Tests/obj/Debug/net70/UltraMapper.Csv.Tests.pdb
/UltraMapper.Csv.Tests/obj/Release/net70/UltraMapper.Csv.Tests.csproj.AssemblyReference.cache
/UltraMapper.Csv.Tests/obj/Release/net70/UltraMapper.Csv.Tests.dll
/UltraMapper.Csv.Tests/obj/Release/net70/UltraMapper.Csv.Tests.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.Csv.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.Csv.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.Parsing.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.Parsing.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net60/UltraMapper.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.Csv.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.Csv.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.Parsing.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.Parsing.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Debug/net70/UltraMapper.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.Csv.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.Csv.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.Parsing.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.Parsing.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net60/UltraMapper.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.Csv.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.Csv.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.Parsing.dll
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.Parsing.pdb
/UltraMapper.DataFileParsers.Benchmarks/bin/Release/net70/UltraMapper.pdb
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.assets.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.csproj.AssemblyReference.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net60/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net70/UltraMapper.DataFileParsers.Benchmarks.csproj.AssemblyReference.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net70/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net70/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net60/UltraMapper.DataFileParsers.Benchmarks.csproj.AssemblyReference.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net60/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/obj/Release/net60/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.assets.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.csproj.AssemblyReference.cache
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.dll
/UltraMapper.DataFileParsers.Benchmarks/obj/Debug/net70/UltraMapper.DataFileParsers.Benchmarks.pdb
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net50/UltraMapper.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net70/UltraMapper.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Csv.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Csv.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Parsing.dll
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.Parsing.pdb
/UltraMapper.Csv/bin/Debug/net60/UltraMapper.pdb
